
.account_ctn {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: .5em;
    width: 100%;
    align-items: center;
    
    article {
        min-height: 100px;
        width: 400px;

    }

    i {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
}


.profile_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    padding: var(--box-padding)
}


.profile_avatar_ctn {
    border: 5px solid white;
    box-shadow: var(--box-shadow);
}

.avatar_placeholder {
    font-size: 5rem;
    color: dodgerBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.address {
    justify-content: space-between;
    text-align: left;
}
.address_ctn {
    cursor: pointer;
    transition: 250ms all ease-in-out;
}
.address_ctn:hover {
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.171);
}