{% extends "shop/base.html" %} {% load humanize %} {% block products %}
<h1>Basket</h1>

{% comment %} <div class="responsive_ctn"> {% endcomment %}
  {% include 'base/toast.html' %}
  <div class="list_ctn">
    {% if basket|length == 0 %}
    <div class="card">
      <p>Your basket is empty.</p>
      <a href="{% url 'shop' %}">Start shopping!</a>
    </div>
    {%  endif %}
    {% for order_item in basket %}
    <article class="slice order">
      <a href="{% url 'product_detail' order_item.product.id %}">
        <img
        src="{{ order_item.product.image.url }}"
        alt="{{ order_item.product.name }}"
        />
        </a>
        <small>
          <a href="{% url 'product_detail' order_item.product.id %}">
          {{ order_item.product.name }}
        </a>
          </small>
          <div class="flex gap-1 space-between">
            <form method="POST">
              {% csrf_token %}
            <input type="hidden" name="order_item_id" value="{{ order_item.id }}" />
          <input type="number" name="quantity" value="{{ order_item.quantity }}" />
        </form><strong>
          £{{ order_item.total_item_price|floatformat:2 }}
          </strong>
      <form method="POST">
        {% csrf_token %}
      <input type="hidden" name="action" value="delete" />
    <input type="hidden" name="order_item_id" value="{{ order_item.id }}" />
    <button class="btn_secondary" style="border: none;" type="submit"><i class="fa-solid fa-trash"></i></button>
  </form>
  </div>
    </article>
      {% endfor %}
  </div>
  </div> 

  {% endblock products %}
</div>
