{% extends 'shop/base.html' %} {% block products %}
{% include 'base/toast.html' %}
<div class="products_layout">
  <a href="{% url 'add_product' %}" class="action_link admin"><i class="fa-solid fa-lock "></i>Add product</a>
  <div class="list_ctn">
    {% for product in products %}
    <article class="card product">
      <img src="{{ product.image.url }}" alt="{{ product.name }}" />
      <div class="w-full flex justify-between items-center" >
        <div class="w-full  flex-col">
          <a href="{% url 'product_detail' product.id %}">
            <h2>{{ product.name }}</h2>
          </a>
          <small>£{{ product.price|floatformat:2 }} </i></small>
        </div>
        <span style="display: flex; gap: .25rem">
          <a class="ATB_btn"  href="{% url 'add_to_basket' product.id %}">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
            {% if edit_perm == True %}
            <a href="{% url 'edit_product' product.id %}" id="edit_btn" style="display: none;" class="action_link admin absolute top right hidden">
              <i class="fa-solid fa-gear"></i>
            </a>
          </span>
            {% endif %}
        </form>
      </div>
    </article>
    {% endfor %}
  </div>
</div>
{% block scripts %}
<script>
  const parents = document.querySelectorAll('.card.product')
  parents.forEach((parent) => {
    parent.addEventListener('mouseenter', () => {
      const btn = parent.querySelector('#edit_btn')
      btn.style = 'display: block'
      })
      parent.addEventListener('mouseleave', () => {
      const btn = parent.querySelector('#edit_btn')
      btn.style = 'display: none;'
    })

  }
)
  
  </script>
</script>
{% endblock scripts %}
{% endblock products %}

