{% extends 'shop/base.html' %} {% block products %}
{% include 'base/toast.html' %}
<div class="products_layout">
  <a href="{% url 'add_product' %}" class="action_link admin" style="margin: .5rem auto"><i class="fa-solid fa-lock "></i>Add product</a>
  <div class="list_ctn">
    {% for product in products %}
    <article class="card product">
      <img src="{{ product.image.url }}" alt="{{ product.name }}" />
      <div class="w-full flex justify-between items-center" >
        <div class="w-full  flex-col">
          <a href="{% url 'product_detail' product.id %}">
            <h2>{{ product.name }}</h2>
          </a>
          <small>£{{ product.price|floatformat:2 }} </i></small>
        </div>
        <span style="display: flex; gap: .25rem">
            {% if edit_perm == True %}
            <a href="{% url 'edit_product' product.id %}" id="edit_btn" style="display: none;" class="action_link admin absolute top right hidden">
              <i class="fa-solid fa-gear"></i>
              </a>
              <form method="POST" onsubmit="prevent_default()" style="display: flex; gap: .4rem;">
                {% csrf_token %}
                <input type="hidden" name="pk" value="{{product.id}}"/>
                <input type="number" name="quantity" style="width: 50px" value="1"/>
                <button onclick="submit_form()" class="btn_main">
                  <i  class="fa-solid fa-cart-shopping"></i>

                </button>
            </input>
            </form>
          </span>
            {% endif %}
        </form>
      </div>
    </article>
    {% endfor %}
  </div>
</div>
{% block scripts %}
<script>
  const parents = document.querySelectorAll('.card.product')
  parents.forEach((parent) => {
    parent.addEventListener('mouseenter', () => {
      const btn = parent.querySelector('#edit_btn')
      btn.style = 'display: block'
      })
      parent.addEventListener('mouseleave', () => {
      const btn = parent.querySelector('#edit_btn')
      btn.style = 'display: none;'
    })

  }
)
function submit_form(element) {
    const form = element.closest('form');
    form.submit();
  }

  function prevent_default(e) {
    e.prevent_default()
  }

  </script>
</script>
{% endblock scripts %}
{% endblock products %}

