{% extends 'shop/base.html' %} {% block products %}
{% include 'base/toast.html' %}
<div class="products_layout">
  <a href="{% url 'add_product' %}" class="btn_main action_link admin"><i class="fa-solid fa-lock "></i>Manage products</a>
  <div class="list_ctn">
    {% for product in products %}
    <article class="card product">
      <img src="{{ product.image.url }}" alt="{{ product.name }}" />
      <div class="w-full flex justify-between items-center" >
        <div class="w-full  flex-col">
          <a href="{% url 'product_detail' product.id %}">
            <h2>{{ product.name }}</h2>
          </a>
          <small>£{{ product.price|floatformat:2 }} </i></small>
        </div>
        <span style="display: flex; gap: .25rem">
          <a class="ATB_btn"  href="{% url 'add_to_basket' product.id %}">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
            {% if edit_perm == True %}
            <a href="{% url 'edit_product' product.id %}" class="action_link admin">Edit</a>
          </span>
            {% endif %}
        </form>
      </div>
    </article>
    {% endfor %}
  </div>
</div>

{% block scripts %}
<script>
  </script>
</script>
{% endblock scripts %}
{% endblock products %}

