{% block content %}
{% if page == 'product_list' %}
<ul class="sidebar_ctn">
  <form method="post" class="filter-form">
    {% csrf_token %} {% for tag in tags %}
    <li>
      <input
        class="filter-checkbox"
        type="checkbox"
        {%
        if
        tag
        in
        selected_tags
        %}
        checked
        {%
        endif
        %}
        name="tag"
        value="{{ tag.id }}"
        id="{{tag.name}}"
      />
      <label for="{{tag.name}}">
        {{ tag.name }}
      </label>
    </li>
    {% endfor %}
  </form>
</ul>
{% endif %} 

{% if page == 'basket' %}
<ul class="sidebar_ctn">

  <h1>Order details:</h1>
  <p>Total: £{{ total|floatformat:2 }}</p>
  {% if basket|length > 0 %}
  <button class="btn_main">
    <a  href="{% url 'checkout' %}" class="">checkout</a>
  </button>
  {% else %}
  <button class="btn_main disabled" disabled>
    Checkout
  </button>
  {% endif %}
</ul>
  {% endif %} 
 
 {% if page == 'checkout' %}
<ul class="sidebar_ctn">
  {% include 'shop/checkout_modal.html' %}
  <h1>Order summary:</h1>
  <p>Total: £{{ total|floatformat:2 }}</p>
  {% if basket|length > 0 %}
  {% if  addresses|length != 0 %}
  <button class="btn_main" onclick="handleTriggerClick()">Purchase with card</button>
  {% endif %}
  {% else %}
  <button class="btn_main disabled" disabled>
    Checkout
  </button>
  {% endif %}
</ul>
  {% endif %} 
  
  {% block scripts %}
  <script>
  document.addEventListener("DOMContentLoaded", function () {
    const checkboxes = document.querySelectorAll(".filter-checkbox");
    const form = document.querySelectorAll(".filter-form");

    // Function to update cookies
    const updateCookies = (tags) => {
      document.cookie = `tags=${encodeURIComponent(
        JSON.stringify(tags)
      )}; path=/`;
    };

    // Function to get tags from cookies
    const getTagsFromCookies = () => {
      const cookies = document.cookie.split(";");
      for (const cookie of cookies) {
        const [name, value] = cookie.trim().split("=");
        if (name === "tags") {
          return JSON.parse(decodeURIComponent(value));
        }
      }
      return [];
    };

    // Function to update checkbox checked status based on cookies
    const updateCheckboxStatus = () => {
      const tags = getTagsFromCookies();
      checkboxes.forEach((checkbox) => {
        checkbox.checked = tags.includes(checkbox.value);
      });
    };

    // Call updateCheckboxStatus on page load
    updateCheckboxStatus();

    checkboxes.forEach((checkbox) => {
      checkbox.addEventListener("change", function () {
        // use of this keyword for brevity and legibility;
        const tag = this.value;
        const tags = getTagsFromCookies();
        // If checked, add to tags
        if (this.checked) {
          tags.push(tag);
        } else {
          const index = tags.indexOf(tag);
          //Else when uncheck, if tag exists, remove it from tags;
          if (index !== -1) {
            tags.splice(index, 1);
          }
        }
        updateCookies(tags);
        const newUrl = `${window.location.pathname}?tag=${tags.join(",")}`;
        history.pushState({}, "", newUrl);
        form.forEach((form) => form.submit());
      });
    });
  });

  function handleTriggerClick() {
  const modal = document.querySelector('.modal_ctn')
  modal.classList.toggle('visible')
  
}
</script>
{% endblock scripts %} {% endblock content %}
