{% extends 'base/base.html' %}

{% load static %}

{% block content %}
<div class="form_ctn flex flex-col gap-1">
    {% if heading %}
    <h1>{{ heading }}</h1>
    {% endif %}
    {% if form %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <h2>Specifications</h2>
        <div id="specs-container">
            <div>
                <input type="text" name="key" placeholder="Key">
                <input type="text" name="value" placeholder="Value">
            </div>
        </div>
        <button aria-label="Add new specification" type="button" onclick="addKeyValuePair()">Add another spec</button>
        <h2>Images</h2>
        {% if page == "add" or page == "edit" %}
        <input type="file" name="images" multiple>
        {% endif %}
        <button aria-label="submit form" type="submit" class="btn_main">Submit</button>
    </form>
    {% if page == "add" or page == "edit" %}
    {% include 'shop/delete_product_modal.html' %}
        <a class="btn_main danger modal_trigger destructive" onclick="handleTriggerClick()">Delete this product</a>
        {% endif %}
    {% endif %}
    

</div>
<script>
    function addKeyValuePair() {
        var container = document.getElementById("specs-container");
        var div = document.createElement("div");

        var keyInput = document.createElement("input");
        keyInput.setAttribute("type", "text");
        keyInput.setAttribute("name", "key");
        keyInput.setAttribute("placeholder", "Key");

        var valueInput = document.createElement("input");
        valueInput.setAttribute("type", "text");
        valueInput.setAttribute("name", "value");
        valueInput.setAttribute("placeholder", "Value");

        div.appendChild(keyInput);
        div.appendChild(valueInput);

        container.appendChild(div);
    }

    document.addEventListener('DOMContentLoaded', () => {

  const trigger = document.querySelector('.modal_trigger')
  
  trigger.addEventListener('click', () => {console.log('Pow!')})
})

function handleTriggerClick() {
  const modal = document.querySelector('.modal_ctn')
  modal.classList.toggle('visible')
  
}
</script>
{% endblock content %}