{% extends 'base/base.html' %}
{% block content %}
{% if add_perm %}
{% endif %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      {% for feature in features %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-current="{% if forloop.first %}true{% endif %}" aria-label="Slide {{ forloop.counter }}"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner">
    {% for feature in features %}
      <div class="feature_ctn carousel-item {% if forloop.first %}active{% endif %}" style="--imageurl: url('{{ feature.image.url }}');">
        <div class="feature_header">
            <h1>{{ feature.title }}</h1>
            <h2>{{ feature.subtitle }}</h2>
            <button class="btn_main">
                <a href="{% url 'shop' %}?tag={% for tag in feature.tags.all %}{{tag.id}},{% endfor %}">Start shopping</a>
            </button>
            {% for tag in feature.tags.all %}
            <p>
                {{tag.name}}
            </p>
        {% endfor %}
        </div>
        <!-- <img src="{{ feature.image.url }}" class="d-block w-100" alt="{{ feature.title }}"> -->
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock content %}
