{% extends 'base/base.html' %}
{% block content %}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      {% for feature in features %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-current="{% if forloop.first %}true{% endif %}" aria-label="Slide {{ forloop.counter }}"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner">
    {% for feature in features %}
      <div class="feature_ctn carousel-item {% if forloop.first %}active{% endif %}" style="--imageurl: url('{{ feature.image.url }}');">
        {% if add_perm %}
            <button class="action_link admin" style="position: absolute; z-index:99;">
                <a href="{% url 'edit_feature' feature.id %}">
                    <i class="fa-solid fa-pencil"></i>
                </a>
            </button>
            {% if not feature.active %}
            <span style="
                backdrop-filter: blur(5px); 
                background-color: rgba(255, 0, 0, 0.253);
                padding: .5rem;
                color: coral;
                font-size: large;
                display: block;
                text-align: center;
                font-weight: bold;
            ">
                <p>This feature is not published yet.</p>
            </span>
            {% endif %}
        {% endif %}
        <div class="feature_header">
            <h1>{{ feature.title }}</h1>
            <h2>{{ feature.subtitle }}</h2>
                <a class="btn_main" href="{% url 'shop' %}?tag={% for tag in feature.tags.all %}{{tag.id}},{% endfor %}">Start shopping</a>
        </div>
        <!-- <img src="{{ feature.image.url }}" class="d-block w-100" alt="{{ feature.title }}"> -->
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock content %}
